USE timesnapbd; DROP TABLE IF EXISTS registros_asistencia; CREATE TABLE registros_asistencia ( id_registro int NOT NULL AUTO_INCREMENT, id_empleado char(8) DEFAULT NULL, tipo enum('entrada','salida') NOT NULL, fecha date NOT NULL, hora time NOT NULL, fecha_creacion timestamp NULL DEFAULT CURRENT_TIMESTAMP, PRIMARY KEY (id_registro), KEY id_empleado (id_empleado), CONSTRAINT registros_asistencia_ibfk_1 FOREIGN KEY (id_empleado) REFERENCES empleados (id_empleado) ) ENGINE=InnoDB AUTO_INCREMENT=267 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
