/* Global CSS - TimeSnap */
/* Aquí irán los estilos globales del proyecto */

/* GOOGLE FONTS - ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* FUENTE GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
}
