body {
  margin: 0;
  /* font-family now handled by global.css */
  background: #020a3a;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a89c9;
  padding: 12px 20px;
  border-bottom: 1px solid #007bff;;
  border-radius: 5px;
}


.topbar h1 {
  margin: 0;
}

/* Ajuste de padding para mejor tamaño de tabla */
.topbar {
  padding: 1px 20px; 
}

/* Tamaño fijo del logo (ajústalo aquí sin mover botones) */
.logo-container {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

/* Imagen escalada correctamente */
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}   

.actions button {
  margin-left: 10px;
  padding: 7px 12px;
  border: none;
  background: #007bff;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  
}
.actions button#deleteSelected {
  background: #e53935;   /* rojo */
  color: white;
}   

.table-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #3a89c9;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 10px;
  font-size: 14px;
  border-bottom: 1px solid #3a89c9;
  color: #333;
}

th {
  background: #3a89c9;
  text-align: left;
  font-weight: bold;
  color: #fdfdfd;
}

tbody tr:hover {
  background: #f5faff;
}

.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.badge.green { background: #4caf50; }
.badge.blue { background: #2196f3; }
.badge.red { background: #e53935; }
.badge.yellow { background: #fbc02d; }

.actions-dots {
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
}
