.check-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #020a3a;
  width: 400px;
  height: 700px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  border-color:#6b2eff;
}
.header1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  margin-top: -20px;
  color: white;
  width: 100%;
  height: 60px;
  padding: 10px 50px 0px 70px;
  border-bottom-right-radius:60px;
  max-width: 180px; 
  margin-left: -140px;  
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  width: 90px;    
  height: 90px;
  margin-right: 50px;
  display: flex;
  align-items: relative;
  justify-content: space-between;
  z-index: 10;
  margin: 0;     
  padding: 0;
  background: transparent;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px; /* opcional: bordes suaves */
}

.instruction {
  margin: 40px 10;
  margin-top: 70px;
  color: #ffffff;
}

.camera-box {
  width: 200px;
  height: 200px;
  border: 5px solid #007bff;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  background-color: transparent; /* quitar gris */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

canvas {
  display: none; /* solo aparece al tomar foto */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.info {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 25px;
  gap: 5px;
  color: #ffffff;
}

.buttons {
  margin-top: 70px;
  margin-bottom: -90px;
  right: 10px;
  width: 80%;
}

.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

.confirm-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 0px;
  margin-left: 40px;
}

.btn-red {
  margin-left: 20px;
}

.btn-photo {
  background: #020a3a;   
  border-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 80%; 
  margin-top: -40;   
  margin-left: -0.5rem;
  padding: 7px;
  cursor: pointer;
}

.btn-photo img {
  width: 3rem;
  height: 3rem;
  display: block;
}

.btn-green2{
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 15px;
  margin-left: 10;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red {
  background-color: #ff1744;
  color: white;
  border: none;
  margin-top: 15px;
  margin-left: 60;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #00b44c;
}

.btn-red:hover {
  background-color: #e0143a;
}
